@import url(https://fonts.googleapis.com/css?family=Roboto:300);



.col-md-12 a {
	font-size: 20px;
	color: #fff;
	text-shadow: #080808 0.1em 0.1em 0.2em;
	font-weight: bold;
}

.nav {
  background-color: black;
}


.navbar #mynavbar ul li a{
	color: #fff;
}
.navbar {
	
	font-size: 20px;
	background-color: #080808;
	box-shadow: 2px 2px 2px #fff;
	height:100px;
}

div ul li a{
	margin-top: 20px;
}

.navbar-inverse {
    background-color: #080808 !important;
    border-color: #080808 !important;
}
	





